body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  #login-page,
  #register-page,
  #main-page {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #register-page {
    display: none;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #furniture-display {
    margin-top: 20px;
  }
  
  #table-images,
  #chair-images {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  #table-images img,
  #chair-images img {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  #rental-form {
    margin-top: 20px;
  }
  
  #rental-details-form {
    display: flex;
    flex-direction: column;
  }
  
  #rental-details-form label {
    margin-top: 10px;
  }
  
  #rental-details-form input,
  #rent-date {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    margin-top: 10px;
  }
  
  button,
  a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  
  button,
  a:hover {
    color: #000;
  }
  